* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}

.App {
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: auto;
}
